.folderIconContainer {
    position: relative;
    width: 150px; /* Adjust dimensions as per your SVG size */
    height: 150px; /* Adjust dimensions as per your SVG size */

}

.overlayTextProjectName {
    color: #565353;
    position: absolute;
    top: 19%;
    right: 7%;
    padding: 0.5em 0.5em; /* Adjust padding as needed */
    border-radius: 5px;
    font-size: 1rem; /* Example of using rem unit */
}

.overlayTextCreationDate {
    color: #565353;
    position: absolute;
    bottom: 13%;
    padding: 0.5em 0.5em; /* Adjust padding as needed */
    border-radius: 5px;
    font-size: 1rem; /* Example of using rem unit */
}