.folderIconContainer {
    position: relative;
    width: 150px; /* Adjust dimensions as per your SVG size */
    height: 150px; /* Adjust dimensions as per your SVG size */
    cursor: pointer; /*indicate element is clickable*/
}

.folderIconContainer:hover svg {
    filter: brightness(0.8); /*the svg tag means only darken that, if its not there apply to all child elements */
}

.overlayTextProjectName {
    color: #565353;
    position: absolute;
    top: 19%;
    right: 7%;
    padding: 0.5em 0.5em; /* Adjust padding as needed */
    border-radius: 5px;
    font-size: 1rem; /* Example of using rem unit */
}

.overlayTextCreationDate {
    color: #565353;
    position: absolute;
    bottom: 13%;
    padding: 0.5em 0.5em; /* Adjust padding as needed */
    border-radius: 5px;
    font-size: 1rem; /* Example of using rem unit */
}