.message {
    margin-top: 10px;
}

.text-success {
    color: green;
    margin-top: 10px;
}

.text-danger {
    color: red;
    margin-top: 10px;
}

.text-info {
    color: #6f42f5;
    margin-top: 10px;
}